.quiz-item {
  background: #fff;
  padding: 15px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  width: calc(33% - 20px);
  box-sizing: border-box;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}
